modules = ["nodejs-22", "python-3.12", "web"]
run = "npm run dev"

[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 8080
externalPort = 80
